@model Wedding
<div class="container">
    <div>
        @await Html.PartialAsync("_navbar")
    </div>
    <h1>@Model.WedderOne & @Model.WedderTwo's Wedding!</h1>
    <p>Date: @Model.TheBigDay.ToString("MMM d yyyy")</p>
    <div class="card">
        <div class="card-body">
            @foreach (Decision u in Model.UserDecision)
            {
                <p>@u.DecisionMaker.FirstName @u.DecisionMaker.LastName</p>
            }
            @if (Model.UserDecision.Count == 0)
            {
                <p>Nothing Yet!</p>
            }
        </div>
    </div>
</div>